.input-label {
  /* border: none; */
  border: 0.7px solid gray;
  outline: none;
  font-size: 1.2em;
  height:auto;
  text-align: center;
  padding: 1.2em;
  width:19em;
  border-radius: 0.7em;

}
@media all and (max-width: 400px) {
  .input-label{
    
    width: 15em;
    
  }
}
 

