@media all and (max-width: 990px) {
    .iamge-logonavbar{
       max-width: 10em;
       min-height: 5em;
    }
}
@media all and (max-width: 679px) {
    .iamge-logonavbar{
       max-width: 10em;
       min-height: 5em;
    }
}
